{% extends 'nav.html' %}
{% block content %}
<div class="content-container">
    <div class="grid-container">
        <div>
            <div class="card">
                <div class="card-body">
                    <img src="{{ url_for('static', filename='media/cover.jpg') }}" alt="" id="book-pic">
                    <hr>
                    {% if book.is_borrowed %}
                    <div class="alert alert-danger" role="alert">{{ book.next_available() }}</div>
                    {% else %}
                    <div class="alert alert-success" role="alert">Available</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="book-details">
                    <h2>{{ book.title }}</h2>
                    <span>
                        <h4>by 
                            {% for author in book.author %}
                                <a href="#">{{ author }}</a>
                            {% endfor %}
                        </h4>
                    </span>
                    <hr>
                    <p>ISBN: <span>{{ book.isbn }}</span></p>
                    <p>Rating: <span>{{ book.average_rating }}</span></p>
                    <p>Number of pages: <span>{{ book.num_pages }}</span></p>
                    <p>Language: <span>{{ book.language }}</span></p>
                    <hr>
                    <h3>Description</h3>
                    <p>{{ book.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script_block %}
<script src="{{ url_for('static', filename='scripts/book_page_scripts.js') }}"></script>
{% endblock %}