{% extends 'nav.html' %}
{% block content %}
<div class="content-container">
    <div class="form-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="search-book">
    </div>
    <a>Advanced search</a>
    <div class="book-list">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>ISBN</th>
                    <th>Rating</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody id="book-list-data">
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                {% for i in range(1, num_pages+1) %}
                    <li class="page-item"><a class="page-link" onclick="getBookList({{i}})">{{ i }}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
{% block script_block %}
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
{% endblock %}
