{% extends 'nav.html' %}
{% block content %}
<div class="content-container">
    <div class="form-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="search-book">
    </div>
    <div id="search-filter">
        <span><button class="btn btn-link" data-toggle="collapse" data-target="#advanced-search-collapse" aria-expanded="false" aria-controls="#advanced-search-collapse">advanced search</button></span>
        <span><button class="btn btn-link" data-toggle="collapse" data-target="#filter-collapse" aria-expanded="false" aria-controls="#filter-collapse">filter</button></span>
    </div>
    <div class="collapse multi-collapse" id="advanced-search-collapse">
        <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>
    <div class="collapse multi-collapse" id="filter-collapse">
        <div class="card card-body">
            <form action="">
                
            </form>
        </div>
    </div>
    <div class="book-list">
        <div id="book-grid-container">
        </div>
    </div>
</div>
{% endblock %}
{% block script_block %}
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="{{ url_for('static', filename='react_components/book_grid.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
{% endblock %}
