{% extends 'nav.html' %}
{% block content %}
<div class="content-container">
    <h1>Books</h1>
    <div class="form-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="search-book">
    </div>
    <a>Advanced search</a>
    <div class="book-list">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>ISBN</th>
                    <th>Rating</th>
                    <th>Total Count</th>
                </tr>
            </thead>
            <tbody>
                {% for book in book_list %}
                    <tr>
                        <td><a href="{{ url_for('books.display_book_details', book_id=book.id) }}">{{ book.title }}</a></td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.average_rating }}</td>
                        <td>{{ book.total_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}