{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <h2 class="heading">Login</h2>
    </div>
</nav>
<div class="content-container">
    <div class="form-container">
        <form class="margin-none" method="POST">
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-col">
                <div class="form-group">
                    {{ form.username(class="form-control", placeholder="Username") }}
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password(class="form-control", placeholder="Password") }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group margin-none">
                    {{ form.submit(class="btn btn-primary") }}
                    <a class="side-kicks" href="{{ url_for('main.register_user') }}">New User?</a>
                    <a class="side-kicks" href="{{ url_for('main.home') }}">Home</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}