p {
    margin-bottom: 3px;
}

.book-list {
    position: relative;
}

#spinner-wrapper {
    position: absolute;
    background-color: white;
    opacity: 0.8;
    height: 100%;
    width: 100%;
}

#spinner-wrapper > #loading-spinner {
    position: relative;
    top: 50%;
    left: 50%;
}

.display-spinner {
    display: none;
}

#display-pic {
    width: 100%;
}

#book-pic {
    width: 100%;
    border: 1px solid #b5b5b5;
}

#book-details {
    padding-left: 10px;
}

#borrow-button {
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

.heading {
    color: white;
    margin-right: 10px;
}

.side-kicks {
    float: right;
    margin: 8px;
}

.content-container {
    margin-top: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.grid-row-profile {
    grid-template-rows: auto auto auto;
}

.item-a {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item-b {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.item-c {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.item-d {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.margin-none {
    margin: 0px;
}

fieldset {
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    padding: 15px;
}

fieldset > legend {
    font-size: 1em;
    padding-left: 10px;
}

.form-container {
    width: 100%
}

.form-container > form {
    width: 45%;
    min-width: 250px;
    max-width: 35%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15%;
}